<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ProiectEnd--CRUD</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>daw.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserBean</display-name>
		<servlet-name>UserBean</servlet-name>
		<servlet-class>daw.model.beans.UserBean</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserDao</display-name>
		<servlet-name>UserDao</servlet-name>
		<servlet-class>daw.model.dao.UserDao</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConnectionManager</display-name>
		<servlet-name>ConnectionManager</servlet-name>
		<servlet-class>daw.model.ConnectionManager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>daw.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductBean</display-name>
		<servlet-name>ProductBean</servlet-name>
		<servlet-class>daw.model.beans.ProductBean</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductDao</display-name>
		<servlet-name>ProductDao</servlet-name>
		<servlet-class>daw.model.beans.ProductDao</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductDao1</display-name>
		<servlet-name>ProductDao1</servlet-name>
		<servlet-class>daw.model.dao.ProductDao1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateProductServlet</display-name>
		<servlet-name>CreateProductServlet</servlet-name>
		<servlet-class>daw.servlet.CreateProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteProductServlet</display-name>
		<servlet-name>DeleteProductServlet</servlet-name>
		<servlet-class>daw.servlet.DeleteProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditProductServlet</display-name>
		<servlet-name>EditProductServlet</servlet-name>
		<servlet-class>daw.servlet.EditProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertProduct</display-name>
		<servlet-name>InsertProduct</servlet-name>
		<servlet-class>daw.servlet.InsertProduct</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductListServlet</display-name>
		<servlet-name>ProductListServlet</servlet-name>
		<servlet-class>daw.servlet.ProductListServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateProductServlet</display-name>
		<servlet-name>UpdateProductServlet</servlet-name>
		<servlet-class>daw.servlet.UpdateProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InsertProductServlet</display-name>
		<servlet-name>InsertProductServlet</servlet-name>
		<servlet-class>daw.servlet.InsertProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserBean</servlet-name>
		<url-pattern>/UserBean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserDao</servlet-name>
		<url-pattern>/UserDao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConnectionManager</servlet-name>
		<url-pattern>/ConnectionManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductBean</servlet-name>
		<url-pattern>/ProductBean</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductDao</servlet-name>
		<url-pattern>/ProductDao</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductDao1</servlet-name>
		<url-pattern>/ProductDao1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateProductServlet</servlet-name>
		<url-pattern>/CreateProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteProductServlet</servlet-name>
		<url-pattern>/DeleteProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProductServlet</servlet-name>
		<url-pattern>/EditProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertProduct</servlet-name>
		<url-pattern>/InsertProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductListServlet</servlet-name>
		<url-pattern>/ProductListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProductServlet</servlet-name>
		<url-pattern>/UpdateProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertProductServlet</servlet-name>
		<url-pattern>/InsertProductServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
